In [2]:
import tushare as ts
import pandas as pd

In [3]:
print(ts.__version__)

1.2.39

In [4]:
pro = ts.pro_api()

Read HS300 components list

In [5]:
df_temp = pd.read_csv("D:/R_Quant/StockData/HS300.csv",encoding='UTF8',dtype={'IncludeDate':str, 'Ticker':str})

In [6]:
df_temp.head(6)

   Ticker TickerName IncludeDate
0  000596       古井贡酒   2019/6/17
1  002939       长城证券   2019/6/17
2  002938       鹏鼎控股   2019/6/17
3  002739       万达电影   2019/6/17
4  002410        广联达   2019/6/17
5  002010       传化智联   2019/6/17

In [7]:
list300 = df_temp.Ticker.tolist()

In [8]:
len(list300)

300

Add Suffix for query through API

In [9]:
for i in range(0,300):
    if list300[i][:2] == '00' or list300[i][:2] == '30':
        list300[i] = list300[i] + '.SZ'
    elif list300[i][:2] == '60':
        list300[i] = list300[i] + '.SH'

In [30]:
df = ts.pro_bar(ts_code='300033.SZ', adj='qfq', start_date='20180101', end_date='20190802')

In [20]:
df.head(6)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600388.SH,20190802,12.13,12.15,11.70,11.80,12.25,-0.45,-3.6735,94778.77,112044.268
1,600388.SH,20190801,12.30,12.43,12.20,12.25,12.34,-0.09,-0.7293,46204.65,56679.607
2,600388.SH,20190731,12.35,12.43,12.30,12.34,12.44,-0.10,-0.8039,58999.66,72841.401
3,600388.SH,20190730,12.56,12.63,12.39,12.44,12.46,-0.02,-0.1605,58006.16,72508.853
4,600388.SH,20190729,12.61,12.75,12.39,12.46,12.60,-0.14,-1.1111,70665.20,88263.562
5,600388.SH,20190726,12.72,12.75,12.53,12.60,12.68,-0.08,-0.6309,80866.59,102001.816

In [10]:
DATA = pd.DataFrame()

In [11]:
for i in list300[:150]:
    df_temp = ts.pro_bar(ts_code=i, adj='qfq', start_date='20100101', end_date='20190802')
    DATA = DATA.append(df_temp)

In [13]:
for i in list300[150:]:
    df_temp = ts.pro_bar(ts_code=i, adj='qfq', start_date='20100101', end_date='20190802')
    DATA = DATA.append(df_temp)

In [16]:
DATA.head(6)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000596.SZ,20190802,116.00,119.60,114.14,118.80,117.07,1.73,1.4777,31726.60,372159.800
1,000596.SZ,20190801,118.50,119.40,116.00,117.07,119.09,-2.02,-1.6962,15420.41,181651.180
2,000596.SZ,20190731,120.86,122.09,118.48,119.09,121.56,-2.47,-2.0319,17425.09,207961.913
3,000596.SZ,20190730,120.98,121.80,118.80,121.56,120.81,0.75,0.6208,18817.35,227440.587
4,000596.SZ,20190729,120.56,121.77,118.80,120.81,120.01,0.80,0.6666,22063.15,266217.713
5,000596.SZ,20190726,118.50,120.66,118.08,120.01,119.37,0.64,0.5361,14637.73,175162.116

In [20]:
DATA.to_csv('DATA_HS300.csv')