In [2]:
import tushare as ts
import pandas as pd

In [3]:
print(ts.__version__)

1.2.39

In [4]:
pro = ts.pro_api()

Read HS300 components list   
Caution: This is not a dynamic list, so there will be Survivorship Bias in data!

In [5]:
df_temp = pd.read_csv("D:/R_Quant/StockData/HS300.csv",encoding='UTF8',dtype={'IncludeDate':str, 'Ticker':str})

In [6]:
df_temp.head(6)

   Ticker TickerName IncludeDate
0  000596       古井贡酒   2019/6/17
1  002939       长城证券   2019/6/17
2  002938       鹏鼎控股   2019/6/17
3  002739       万达电影   2019/6/17
4  002410        广联达   2019/6/17
5  002010       传化智联   2019/6/17

In [7]:
list300 = df_temp.Ticker.tolist()

In [8]:
len(list300)

300

Add Suffix for query through API

In [9]:
for i in range(0,300):
    if list300[i][:2] == '00' or list300[i][:2] == '30':
        list300[i] = list300[i] + '.SZ'
    elif list300[i][:2] == '60':
        list300[i] = list300[i] + '.SH'

In [30]:
df = ts.pro_bar(ts_code='300033.SZ', adj='qfq', start_date='20180101', end_date='20190802')

In [20]:
df.head(6)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600388.SH,20190802,12.13,12.15,11.70,11.80,12.25,-0.45,-3.6735,94778.77,112044.268
1,600388.SH,20190801,12.30,12.43,12.20,12.25,12.34,-0.09,-0.7293,46204.65,56679.607
2,600388.SH,20190731,12.35,12.43,12.30,12.34,12.44,-0.10,-0.8039,58999.66,72841.401
3,600388.SH,20190730,12.56,12.63,12.39,12.44,12.46,-0.02,-0.1605,58006.16,72508.853
4,600388.SH,20190729,12.61,12.75,12.39,12.46,12.60,-0.14,-1.1111,70665.20,88263.562
5,600388.SH,20190726,12.72,12.75,12.53,12.60,12.68,-0.08,-0.6309,80866.59,102001.816

In [10]:
DATA = pd.DataFrame()

In [11]:
for i in list300:
    df_temp = ts.pro_bar(ts_code=i, adj='qfq', start_date='20100101', end_date='20190802')
    DATA = DATA.append(df_temp)

In [16]:
DATA.head(6)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000596.SZ,20190802,116.00,119.60,114.14,118.80,117.07,1.73,1.4777,31726.60,372159.800
1,000596.SZ,20190801,118.50,119.40,116.00,117.07,119.09,-2.02,-1.6962,15420.41,181651.180
2,000596.SZ,20190731,120.86,122.09,118.48,119.09,121.56,-2.47,-2.0319,17425.09,207961.913
3,000596.SZ,20190730,120.98,121.80,118.80,121.56,120.81,0.75,0.6208,18817.35,227440.587
4,000596.SZ,20190729,120.56,121.77,118.80,120.81,120.01,0.80,0.6666,22063.15,266217.713
5,000596.SZ,20190726,118.50,120.66,118.08,120.01,119.37,0.64,0.5361,14637.73,175162.116

In [20]:
DATA.to_csv('DATA_HS300.csv')

Get data for Benchmark HS300 from the same time period

In [24]:
Bench = ts.pro_bar(ts_code='000300.SH', asset='I', start_date='20100101', end_date='20190802')

In [25]:
Bench.head(6)

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000300.SH,20190802,3747.4379,3729.1309,3754.5326,3720.0584,3803.4694,-56.0315,-1.4732,108335897.0,141874787.6
1,000300.SH,20190801,3803.4694,3819.3242,3831.2641,3791.5460,3835.3589,-31.8895,-0.8315,84114180.0,117649163.9
2,000300.SH,20190731,3835.3589,3856.7450,3856.7450,3830.0914,3870.3176,-34.9587,-0.9033,82151155.0,111083892.8
3,000300.SH,20190730,3870.3176,3861.5698,3890.7298,3861.5698,3854.2704,16.0472,0.4163,94123955.0,120480280.0
4,000300.SH,20190729,3854.2704,3857.9394,3862.7467,3842.4260,3858.5688,-4.2984,-0.1114,84814370.0,111679108.8
5,000300.SH,20190726,3858.5688,3835.2281,3863.5878,3832.5223,3851.0665,7.5023,0.1948,83259300.0,110929728.7

In [26]:
Bench.to_csv('Benchmark_HS300.csv')

Get data for P/B and Float MarketValue from the same time period

In [30]:
Factor = pd.DataFrame()

In [32]:
for i in list300:
    df_temp = pro.daily_basic(ts_code=i, start_date='20100101', end_date='20190802', fields='ts_code,trade_date,pb,circ_mv')
    Factor = Factor.append(df_temp)

In [35]:
Factor.head(6)

     ts_code trade_date      pb    circ_mv
0  000596.SZ   20190802  7.8411  4557168.0
1  000596.SZ   20190801  7.7270  4490805.2
2  000596.SZ   20190731  7.8603  4568292.4
3  000596.SZ   20190730  8.0233  4663041.6
4  000596.SZ   20190729  7.9738  4634271.6
5  000596.SZ   20190726  7.9210  4603583.6

In [36]:
Factor.to_csv('DATA_HS300_Factors.csv')

Get Daily Overnight Shibor during the same time period as risk-free InterestRate Return

In [37]:
IR = pro.shibor(start_date='20100101', end_date='20190802', fields='date,on')

In [38]:
IR.head(6)

       date     on
0  20190802  2.634
1  20190801  2.634
2  20190731  2.642
3  20190730  2.621
4  20190729  2.629
5  20190726  2.636

In [43]:
IR.on = IR.on /360

In [44]:
IR.to_csv('DATA_InterestRate.csv')