In [19]:
import pandas as pd

In [20]:
DATA = pd.DataFrame()
df_temp = pd.DataFrame()

df_temp.loc[:,'Symbol'] = i 新建了一列值全为i,作用在原DataFrame

In [21]:
for i in ['AAPL','AMD','AMZN','INTC','MSFT']:
    df_temp = pd.read_csv("Z:/linshi/" +i + ".csv",encoding='ANSI',dtype={'Date':str})
    df_temp.rename(columns={'Adj Close':'AdjClose'}, inplace=True)
    df_temp.loc[:,'Symbol'] = i
    DATA = DATA.append(df_temp)

In [22]:
DATA.head(6)

,Date,Open,High,Low,Close,AdjClose,Volume,Symbol
0,2009-06-24,19.345715,19.642857,19.265715,19.459999,12.926208,121381400,AAPL
1,2009-06-25,19.392857,20.028572,19.315714,19.980000,13.271618,147361900,AAPL
2,2009-06-26,19.969999,20.508572,19.962856,20.348572,13.516438,109846100,AAPL
3,2009-06-29,20.494286,20.564285,20.219999,20.281429,13.471839,141904000,AAPL
4,2009-06-30,20.368572,20.542856,20.257143,20.347143,13.515490,108556000,AAPL
5,2009-07-01,20.500000,20.665714,20.360001,20.404285,13.553450,103544700,AAPL

In [23]:
del(df_temp)

In [24]:
len(DATA.Symbol)

12585

使用DataFrame的pivot()方法对多维面板数据进行降维处理
下例提取出AdjClose列

In [26]:
DATA_AdjClose = DATA.pivot(index='Date', columns='Symbol', values='AdjClose')

In [29]:
DATA_AdjClose.head(10)

Symbol           AAPL   AMD       AMZN       INTC       MSFT
Date
2009-06-24  12.926208  3.66  79.269997  11.787844  18.412434
2009-06-25  13.271618  3.64  82.199997  11.941595  18.663473
2009-06-26  13.516438  3.62  83.879997  11.926953  18.318287
2009-06-29  13.471839  3.72  83.029999  11.992844  18.718393
2009-06-30  13.515490  3.87  83.660004  12.117311  18.647781
2009-07-01  13.553450  3.91  81.599998  12.476073  18.859600
2009-07-02  13.286799  3.78  79.320000  12.241783  18.333988
2009-07-06  13.153001  3.55  78.099998  12.109994  18.200617
2009-07-07  12.848394  3.43  75.629997  11.897665  17.674995
2009-07-08  13.021102  3.36  77.360001  11.670693  17.698528